<%- model_class = User -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "HTML", source_user_path(user), class: "btn btn_mini" %>
          <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn_mini" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>