<div class="auth_form">
  <%= form_for(@user) do |f| %>
    <div class="auth_form_header">
      <h1>Sign up</h1>
    </div>
    <div class="auth_form_body">
      <%= render 'shared/error_messages', object: f.object %>
      <div class="input_block">
        <div class="input_label">
          <%= f.label :email %>
        </div>
        <%= f.text_field :email, class: "input_wide" %>
      </div>
      <div class="input_block">
        <div class="input_label">
          <%= f.label :password %>
        </div>
        <%= f.password_field :password, class: "input_wide" %>
      </div>
      <div class="input_block">
        <div class="input_label">
          <%= f.label :password_confirmation %>
        </div>
        <%= f.password_field :password_confirmation, class: "input_wide" %>
      </div>
      <%= f.submit "Sign up", class: "btn_primary btn_middle btn_large_radius" %>
    </div>
  <% end %>
</div>