<div class="user_rank">
  <div class="inside">
    <div class="rank_container">
      <h2>総合</h2>
      <ul class="clearfix">
        <li>
          <div class="rank"><%= @rank_all_in_university %>位</div>
          <p><%= @user.university.name %>・<%= @user.university.users.where('school_year = ?', @user.school_year).count%>人</p>
        </li>
        <li>
          <div class="rank"><%= @rank_all_in_department %>位</div>
          <p><%= @user.department.name %>・<%= @user.department.users.where('school_year = ?', @user.school_year).count%>人</p>
        </li>
        <li>
          <div class="rank"><%= @rank_all_in_school_subject %>位</div>
          <p><%= @user.school_subject.name %>・<%= @user.school_subject.users.where('school_year = ?', @user.school_year).count%>人</p>
        </li>
      </ul>
    </div>
    <h2>順位をシェアする</h2>
    <div class="social_button">
      <span>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://open-college.herokuapp.com" data-text="私の学業成績は、<%= current_user.university.name %>で<%= @rank_all_in_university %>位、<%= current_user.department.name %>で<%= @rank_all_in_department %>位、<%= current_user.school_subject.name %>で<%= @rank_all_in_school_subject %>位でした。大学の授業の新しい形、OpenCollege。" data-via="yukihariguchi" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
      <span>
        <div class="fb-like" data-href="https://open-college.herokuapp.com" data-send="false" data-width="250" data-show-faces="false" data-layout="button_count"></div>
      </span>
    </div>
  </div>
</div>