<div class="user_rank">
  <div class="inside">
    <div class="rank_container">
      <h2>総合</h2>
      <ul class="clearfix">
        <li>
          <div class="rank"><%= @rank_all_in_university %>位</div>
          <p><%= @user.university.name %>・<%= @user.university.users.where('school_year = ?', @user.school_year).count%>人</p>
        </li>
        <li>
          <div class="rank"><%= @rank_all_in_department %>位</div>
          <p><%= @user.department.name %>・<%= @user.department.users.where('school_year = ?', @user.school_year).count%>人</p>
        </li>
        <li>
          <div class="rank"><%= @rank_all_in_school_subject %>位</div>
          <p><%= @user.school_subject.name %>・<%= @user.school_subject.users.where('school_year = ?', @user.school_year).count%>人</p>
        </li>
      </ul>
    </div>
  </div>
</div>