<div class="home">
  <div class="inside clearfix">
    <div class="left_box">
      <ul>
        <li class="name">
          <% if current_user.first_name.present? && current_user.last_name.present? %>
            <%= current_user.last_name %> <%= current_user.first_name %>
          <% else %>
            You
          <% end %>
        </li>
        <li class="info">
          <p class="university_name"><%= @user.university.name %></p>
          <%= @user.department.name %>
          <%= @user.school_subject.name %>
          <%= @user.school_year %>年
        </li>
        <li class="gpa">
          <span>GPA</span><%= @user.calculate %>
        </li>
      </ul>
    </div>
    <div class="right_box">
      <% class_year = @user.class_rooms.order('year DESC').group_by { |t| t.year } %>
      <% class_year.each do |year, class_rooms| %>
        <div class="each_school_year">
          <h3><%= year %>年度</h3>
          <div class="class_body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>授業名</th>
                  <th>教授名</th>
                  <th>年度</th>
                  <th>評定</th>
                </tr>
              </thead>
              <tbody>
                <% class_rooms.each do |class_room| %>
                  <tr>
                    <td><%= link_to class_room.class_room_for_year.name, class_room.class_room_for_year %></td>
                    <td><%= link_to class_room.class_room_for_year.teacher.name, class_room.class_room_for_year.teacher if class_room.class_room_for_year.teacher %></td>
                    <td><%= class_room.year %></td>
                    <td><%= class_room.get_grade(current_user) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>