<div class="home">
  <div class="inside">
    <div class="rank_container">
      <h2>総合</h2>
      <ul class="clearfix">
        <li>
          <div class="rank">100位</div>
          <p><%= @user.university.name %>・10000人</p>
        </li>
        <li>
          <div class="rank">8位</div>
          <p><%= @user.department.name %>・1500人</p>
        </li>
        <li>
          <div class="rank">1位</div>
          <p><%= @user.school_subject.name %>・100人</p>
        </li>
      </ul>
    </div>
    <div class="rank_container">
      <h2>2012年</h2>
      <ul class="clearfix">
        <li>
          <div class="rank">100位</div>
          <p><%= @user.university.name %>・10000人</p>
        </li>
        <li>
          <div class="rank">8位</div>
          <p><%= @user.department.name %>・1500人</p>
        </li>
        <li>
          <div class="rank">1位</div>
          <p><%= @user.school_subject.name %>・100人</p>
        </li>
      </ul>
    </div>
    <div class="rank_container">
      <h2>2011年</h2>
      <ul class="clearfix">
        <li>
          <div class="rank">100位</div>
          <p><%= @user.university.name %>・10000人</p>
        </li>
        <li>
          <div class="rank">8位</div>
          <p><%= @user.department.name %>・1500人</p>
        </li>
        <li>
          <div class="rank">1位</div>
          <p><%= @user.school_subject.name %>・100人</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<h1><%= @user.email %><br>
  <%= @user.last_name %><%= @user.first_name %><br>
  <%= @user.university.name %><%= @user.department.name %><%= @user.school_subject.name %><%= @user.school_year %>年</h1>

<% @user.class_rooms.each do |class_room| %>
  <%= class_room.class_room_for_year.name %>
  <%= class_room.class_room_for_year.teacher_name %>
  <%= class_room.year %>年
  <% if ClassGrade.find_by_class_room_id(class_room.id) %>
    <%= ClassGrade.find_by_class_room_id(class_room.id).grade %>
  <% end %><br>
<% end %>