<div class="home">
  <div class="inside">
    <p class="recommend_topic">おすすめの授業</p>
    <p class="recommend_type">・ラクタン</p>
    <div class="clearfix">
      <% @rakutan.each_with_index do |class_id, i| %>
        <% class_room = ClassRoom.find(class_id).class_room_for_year %>
        <script type="text/javascript">
          $(function () {
            $('#r_ratio_container' + <%= i %>).highcharts({
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: '<%= class_room.name %>'
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                    }
                  }
                }
              },
              series: [{
                type: 'pie',
                name: '割合',
                data: [
                  ['A', <%= class_room.percents[0] %>],
                  ['B', <%= class_room.percents[1] %>],
                  ['C', <%= class_room.percents[2] %>],
                  ['D', <%= class_room.percents[3] %>]
                ]
              }]
            });
          });
        </script>
        <div id="r_ratio_container<%= i %>" style="width: 300px; height: 300px; margin: 10px auto; float:left;"></div>
      <% end %>
    </div>
    <p class="recommend_type">・エグタン</p>
    <div class="clearfix">
      <% @egutan.each_with_index do |class_id, i| %>
        <% class_room = ClassRoom.find(class_id).class_room_for_year %>
        <script type="text/javascript">
          $(function () {
            $('#e_ratio_container' + <%= i %>).highcharts({
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: '<%= class_room.name %>'
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                    }
                  }
                }
              },
              series: [{
                type: 'pie',
                name: '割合',
                data: [
                  ['A', <%= class_room.percents[0] %>],
                  ['B', <%= class_room.percents[1] %>],
                  ['C', <%= class_room.percents[2] %>],
                  ['D', <%= class_room.percents[3] %>]
                ]
              }]
            });
          });
        </script>
        <div id="e_ratio_container<%= i %>" style="width: 300px; height: 300px; margin: 10px auto; float:left;"></div>
      <% end %>
    </div>    
  </div>
</div>