<div class="m_brand">
  <h1>大学の授業の新しい形</h1>
  <%= image_tag 'imac.png', height: "92%" %>
</div>
<div class="m_welcome_middle">
  <ul class="m_function_list">
    <li>
      <h2>正確なデータ</h2>
      <p>口コミやレビューにない授業の正確な評価分布がわかる。</p>
      <%= image_tag 'welcome_ratio.png', width: "90%"%>
    </li>
    <li>
      <h2>順位がわかる</h2>
      <p>今までの学業成績から大学、学部、学科での順位がわかる。</p>
      <%= image_tag 'm_welcome_rank.png', width: "90%"%>
    </li>
    <li>
      <h2>おすすめの授業</h2>
      <p>今年度履修授業からおすすめを教えてくれます。</p>
      <div class="clearfix m_welcome_recommend">
        <p class="m_welcome_easy_recommend">ラク単</p>
        <p class="m_welcome_difficult_recommend">エグ単</p>
      </div>
    </li>
  </ul>
  <div class="attention">
    現在は慶應義塾大学のみ利用可能です。<br>
    ご要望・フィードバックがあれば<a href="https://twitter.com/yukihariguchi" target="_blank">@yukihariguchi</a>まで。  
  </div>
  <div class="m_welcome_btn_container">
    <%= link_to "アカウント登録", signup_path, class: "m_btn_primary m_btn_large" %>
  </div>
  <div class="m_welcome_btn_container">
    <%= link_to "ログイン", signin_path, class: "m_btn m_btn_large" %>
  </div>
</div>
<div class="m_welcome_buttom">
  <p class="copyright">&copy; 2013 Yuki Hariguchi</p>
  <div class="welcome_share">
    <span class="welcome_twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://open-college.herokuapp.com" data-text="まだレビューや噂で授業を選んでる？もっと客観的で正確なデータをもとに授業を選びたいよね。それがここならできるってわけ。大学の授業の新しい形、OpenCollege。" data-via="yukihariguchi" data-lang="ja">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </span>
    <span>
      <div class="fb-like" data-href="https://open-college.herokuapp.com" data-send="false" data-width="250" data-show-faces="false" data-layout="button_count"></div>
    </span>
  </div>
</div>