<div id="top_container">
  <div class="inside">
    <div id="slider_container" class="clearfix">
      <div id="slider_left">
        <h1 class="">大学の授業の新しい形</h1>
        <%= form_for(@user) do |f| %>
          <p>OpenCollegeを始めよう！<span>アカウント登録</span></p>
          <div class="form_container">
            <%= f.email_field :email, placeholder: "メールアドレス", class: "field_input mail_form"%>
          </div>
          <div class="form_container">
            <div class="clearfix">
              <div class="half_cotainer">
                <%= f.password_field :password, placeholder: "パスワード", class: "field_input half_form" %>
              </div>
              <div class="half_cotainer latter">
                <%= f.password_field :password_confirmation, placeholder: "パスワード（確認）", class: "field_input half_form" %>
              </div>
            </div>
          </div>
          <%= f.submit "アカウント登録", class: "btn_primary welcome_reg_btn" %>
          <div class="terms">現在は慶應義塾大学のみに対応しています。<br>ご要望・フィードバックがあれば
            <a href="https://twitter.com/yukihariguchi" target="_blank">@yukihariguchi</a>
            にメンションください。
          </div>
        <% end %>
      </div>
      <div id="slider_right">
        <div id="desktop">
          <%= image_tag 'imac.png' %>
        </div>
      </div>
    </div>  
  </div>
</div>
<div id="middle_container">
  <div class="inside">
    <h1>大学の授業のすべてがオープンに</h1>
    <ul class="clearfix">
      <li>
        <%= image_tag 'communicate.png', width: "220px"%>
        <h2>大学での順位がわかる</h2>
      </li>
      <li>
        <%= image_tag 'devices.png', width: "220px"%>
        <h2>おすすめの授業を教えてくれる</h2>
      </li>
      <li>
        <%= image_tag 'network.png', width: "220px"%>
        <h2>パーソナライズした情報</h2>
      </li>
    </ul>
  </div>
</div>