<div class="m_guide_container">
  <ul class="m_guide_nav_container clearfix">
    <span class="step">STEP</span>
    <li>1</li>
    <span>></span>
    <li>2</li>
    <span>></span>
    <li class="m_active">3</li>
  </ul>
  <div class="m_guide_explain">
    <% if current_user.play == "進級" %>
      <h2 class="topic">
        <%= current_user.play %>おめでとう！
      </h2>
      <div class="m_rank_container">
        <h1>
          あなたの学業成績・総合
        </h1>
        <div class="m_rank">
          <div class="m_rank_header">
            <h2><%= current_user.university.name %>・<%= @user.university.users.count%>人</h2>
          </div>
          <div class="m_rank_body">
            <div class="m_user_rank_container clearfix">
              <div class="m_user_rank">
                1位
              </div>
              <div class="m_user_name">
                GPA : 3.8
              </div>
            </div>
            <div class="m_tententen clearfix">
              ・<br>・<br>・
            </div>
            <div class="m_current_user_rank clearfix">
              <div class="m_user_rank">
                <%= @rank_all_in_university %>位
              </div>
              <div class="m_user_name">
                You
              </div>
            </div>
            <div class="m_tententen clearfix">
              ・<br>・<br>・
            </div>
            <div class="m_user_rank_container clearfix">
              <div class="m_user_rank">
                最下位
              </div>
              <div class="m_user_name">
                GPA : 0.7
              </div>
            </div>
          </div>
        </div>
        <div class="m_rank">
          <div class="m_rank_header">
            <h2><%= current_user.department.name %>・<%= @user.department.users.count%>人</h2>
          </div>
          <div class="m_rank_body">
            <div class="m_user_rank_container clearfix">
              <div class="m_user_rank">
                1位
              </div>
              <div class="m_user_name">
                GPA : 3.8
              </div>
            </div>
            <div class="m_tententen clearfix">
              ・<br>・<br>・
            </div>
            <div class="m_current_user_rank clearfix">
              <div class="m_user_rank">
                <%= @rank_all_in_department %>位
              </div>
              <div class="m_user_name">
                You
              </div>
            </div>
            <div class="m_tententen clearfix">
              ・<br>・<br>・
            </div>
            <div class="m_user_rank_container clearfix">
              <div class="m_user_rank">
                最下位
              </div>
              <div class="m_user_name">
                GPA : 0.7
              </div>
            </div>
          </div>
        </div>
        <div class="m_rank">
          <div class="m_rank_header">
            <h2><%= current_user.school_subject.name %>・<%= @user.school_subject.users.count%>人</h2>
          </div>
          <div class="m_rank_body">
            <div class="m_user_rank_container clearfix">
              <div class="m_user_rank">
                1位
              </div>
              <div class="m_user_name">
                GPA : 3.8
              </div>
            </div>
            <div class="m_tententen clearfix">
              ・<br>・<br>・
            </div>
            <div class="m_current_user_rank clearfix">
              <div class="m_user_rank">
                <%= @rank_all_in_school_subject %>位
              </div>
              <div class="m_user_name">
                You
              </div>
            </div>
            <div class="m_tententen clearfix">
              ・<br>・<br>
            </div>
            <div class="m_user_rank_container clearfix">
              <div class="m_user_rank">
                最下位
              </div>
              <div class="m_user_name">
                GPA : 0.7
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m_share">
        <h2>シェアする</h2>
        <span>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://open-college.herokuapp.com" data-text="私の学業成績は、<%= current_user.university.name %>で<%= @rank_all_in_university %>位、<%= current_user.department.name %>で<%= @rank_all_in_department %>位、<%= current_user.school_subject.name %>で<%= @rank_all_in_school_subject %>位でした。大学の授業の新しい形、OpenCollege。" data-via="yukihariguchi" data-lang="ja">ツイート</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>
        <span>
          <div class="fb-like" data-href="<%= store_location %>" data-send="false" data-width="250" data-show-faces="false" data-layout="button_count"></div>
        </span>
      </div>
    <% elsif current_user.play == "原級" %>
    <% end %>
    <%= link_to "ホームへ", user_path(current_user), class: "m_btn m_btn_large"  %>
  </div>
</div>