<div class="guide_container">
  <ul class="guide_nav_container clearfix">
    <li>ブックマーク</li>
    <li>読み取り</li>
    <li class="active"><b class="caret"></b>完了</li>
  </ul>
  <div class="guide_explain">
    <% if current_user.play == "進級" %>
      <h2>
        <%= current_user.play %>おめでとう！
      </h2>
      <div class="rank_container">
        <div class="rank_topic">
          <h2>
            あなたの学業成績・総合
          </h2>
          <div class="social_button">
            <span>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://open-college.herokuapp.com" data-text="<%= current_user.last_name %><%= current_user.first_name %>の学業成績は、<%= current_user.university.name %>で<%= @rank_all_in_university %>位、<%= current_user.department.name %>で<%= @rank_all_in_department %>位、<%= current_user.school_subject.name %>で<%= @rank_all_in_school_subject %>位でした。大学の授業の新しい形、OpenCollege。" data-via="yukihariguchi" data-lang="ja">ツイート</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </span>
            <span>
              <div class="fb-like" data-href="<%= store_location %>" data-send="false" data-width="250" data-show-faces="false" data-layout="button_count"></div>
            </span>
          </div>
        </div>        
        <ul class="clearfix">
          <li>
            <div class="rank"><%= @rank_all_in_university %>位</div>
            <p><%= current_user.university.name %>・<%= @user.university.users.count%>人</p>
          </li>
          <li>
            <div class="rank"><%= @rank_all_in_department %>位</div>
            <p><%= current_user.department.name %>・<%= @user.department.users.count%>人</p>
          </li>
          <li>
            <div class="rank"><%= @rank_all_in_school_subject %>位</div>
            <p><%= current_user.school_subject.name %>・<%= @user.school_subject.users.count%>人</p>
          </li>
        </ul>
      </div>
    <% elsif current_user.play == "原級" %>
      <h2>普通の人生なんてつまらない、そう思わないかい？</h2>
      <div class="repeat_famous clearfix">
        <div class="left_box">
          <%= image_tag 'koizumi.jpg', width: "200px"%>
        </div>
        <div class="right_box">
          <h3>慶応義塾大学経済学部にて留年。浪人も２度経験している。</h3>
          <h4>「抵抗勢力」・「自民党をぶっ壊す」など、小泉語録とよばれる数多くの言葉を残している。
郵便局の民営化を実現した。</h4>
          <p class="quote times">失敗のない人間は面白くない。</p>
        </div>
      </div>
      <div class="repeat_famous clearfix">
        <div class="left_box">
          <%= image_tag 'murakami.jpg', width: "200px"%>
        </div>
        <div class="right_box">
          <h3>早稲田大学第一文学部にて３回留年。</h3>
          <h4>「ノルウェイの森」に代表される、現代文学で最も評価の高い文学者の1人である。</h4>
          <p class="quote times">もし君の選択や努力が徒労に終わることを宿命づけられていたとしても、それでもなお君は確固として君であり、君以外のなにものでもない。君は君としてまちがいなく前に進んでいる。心配しなくていい。</p>
        </div>
      </div>
      <h2 class="text_center">
        大学の授業って面白くないやつばっかでやる気でないけど、卒業しないとお話にならなかったりする世の中だからこれをつくった。<br>少しでも力になればいいなぁと思う。
      </h2>
    <% else %>
      <h2>よくわからんが・・・</h2>
    <% end %>
    <div class="text_center"><%= link_to "ホームへ", user_path(current_user), class: "btn btn_large btn_large_radius" %></div>
  </div>
</div>