<div class="guide_container">
  <ul class="guide_nav_container clearfix">
    <li class="active"><b class="caret"></b>1. <span>「+Class」を登録</span></li>
    <li>2. <span>「+Class」の使用方法</span></li>
    <li>3. <span>完了</span></li>
  </ul>
  <div class="guide_explain">
    <% flash.each do |key, value| %>
      <div class="message_box_<%= key %>"><%= value %></div>
    <% end %>
    <h2 class="clearfix">
      「+Class」ブックマークレットを登録
      <span><%= link_to "新入生はこちら", new_confirmation_path %></span>
  </h2>
    <div class="clearfix bookmarklet_container">
      <a href="
      javascript:(function(){
        if (typeof jQuery == 'undefined') {
            var d=document,
                j=d.createElement('script');
            j.type='text/javascript';
            j.src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';
            j.onload = bml;
            d.body.appendChild(j);
        }else {
            bml();
        }
        function bml(){
          (function($){
            var html_scripts = document.getElementsByTagName('body')[0].innerHTML;
            var u_id = <%= current_user.id %>;
            var token_scripts = { access_token: '<%= current_user.access_token %>', scripts: html_scripts };
            $.post('https://open-college.herokuapp.com/api/v1/outsides/analyze', token_scripts, function(data) {
              location.href = 'https://open-college.herokuapp.com/guides/' + u_id + '/finish';
            })
          })(jQuery);
        }
      })();
      " class="bookmarklet">
        + Class
      </a>
      <p>
        右にある「+ Class」ボタンをドラッグしてブックマークバーに追加してください。<br>
        ブックマークバーが表示されてない場合は、ブラウザの「表示」よりブックマークバーを表示してください<br>
        お使いのブラウザが Internet Explorer (IE) の場合は、「+ Class」ボタンを右クリックし「お気に入りに追加(F)...」を選択してお気に入りバーに追加してください。（IEでうまくいかなかった場合は、他ブラウザ（Firefox, Chrome, Safari推奨）からお試しください）
      </p>
    </div>
    <div class="text_center">
      <%= image_tag 'drag_bookmark.png', width: "400px"%>
    </div>
    <div class="guide_link text_center">
      <%= link_to "Step2 「+Class」の使用方法へ", reader_guide_path(current_user), class: "btn btn_large btn_large_radius" %>
    </div>
  </div>
</div>