<div class="guide_container">
  <ul class="guide_nav_container clearfix">
    <li>1. <span>「+Class」を登録</span></li>
    <li class="active"><b class="caret"></b>2. <span>「+Class」の使用方法</span></li>
    <li>3. <span>完了</span></li>
  </ul>
  <div class="guide_explain">
    <h2>「+Class」ブックマークレットの使用方法</h2>
    <ul class="clearfix">
      <li class="first">
        <p><span class="circle">1</span><%= link_to "keio.jp", "https://login.keio.jp/koid/", target: "_blank" %>でログイン</p>
        <%= image_tag 'keio_jp.png', width: "180px"%>
      </li>
      <li>
        <p><span class="circle">2</span>"学業成績表"をクリック</p>
        <%= image_tag 'click_grade.png', width: "180px"%>
      </li>
      <li>
        <p><span class="circle">3</span>学事webでログイン</p>
        <%= image_tag 'gakuji_pass.png', width: "180px"%>
      </li>
    </ul>
    <div class="magical_bookmarklet">
      <p><span class="circle">4</span>先ほど追加した+classボタンをクリック</p>
      <%= image_tag 'click_bookmarklet.png', width: "600px"%>
    </div>
    <div class="magical_bookmarklet">
      <p><span class="circle">5</span>解析が終わったら、自動でSTEP「3」にとびます</p>
      <%= image_tag 'step3.png', width: "600px"%>
    </div>
  </div>
</div>