<div class="guide_container">
  <ul class="guide_nav_container clearfix">
    <li>ブックマーク</li>
    <li class="active"><b class="caret"></b>読み取り</li>
    <li>完了</li>
  </ul>
  <div class="guide_explain">
    <h2>成績を読み取る</h2>
    <ul class="clearfix">
      <li class="first">
        <p><span class="circle">1</span><%= link_to "keio.jp", "https://login.keio.jp/koid/", target: "_blank" %>でログイン</p>
        <%= image_tag 'keio_jp.png', width: "180px"%>
      </li>
      <li>
        <p><span class="circle">2</span>"学業成績表"をクリック</p>
        <%= image_tag 'click_grade.png', width: "180px"%>
      </li>
      <li>
        <p><span class="circle">3</span>学事webでログイン</p>
        <%= image_tag 'gakuji_pass.png', width: "180px"%>
      </li>
    </ul>
    <div class="magical_bookmarklet">
      <p><span class="circle">4</span>先ほど追加した+classボタンをクリック</p>
      <%= image_tag 'click_bookmarklet.png', width: "600px"%>
    </div>
    <div class="guide_link text_center">
      <%= link_to "次へ", finish_guide_path(current_user), class: "btn btn_large btn_large_radius" %>
    </div>
  </div>
</div>